@keyframes wheelRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wheelRotation {
  animation: wheelRotate 8s linear infinite;
  transform-origin: center center;
  display: inline-block;
}
